<?xml version="1.0"?>
<model>
  <name>Yelpence UAV</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Yelpence Team</name>
    <email>iletisim@yelpence.com</email>
  </author>
  <description>
    Yelpence 2026 Swarm UAV with integrated sensors (RPLidar, RealSense, GPS).
  </description>
</model>
